# Persisting Time Series Data to Databases

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pandas_datareader.data as web

engine = create_engine("postgresql://postgres:password@localhost:5432/postgres")

In [3]:
engine

Engine(postgresql://postgres:***@localhost:5432/postgres)

In [4]:
amzn_df_2020 = web.get_data_yahoo('AMZN', 
                                  start='2020-01-01', 
                                  end='2020-12-31')

In [5]:
amzn_df_2020.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,1898.010010,1864.150024,1875.000000,1898.010010,4029000,1898.010010
2020-01-03,1886.199951,1864.500000,1864.500000,1874.969971,3764400,1874.969971
2020-01-06,1903.689941,1860.000000,1860.000000,1902.880005,4061800,1902.880005
2020-01-07,1913.890015,1892.040039,1904.500000,1906.859985,4044900,1906.859985
2020-01-08,1911.000000,1886.439941,1898.040039,1891.969971,3508000,1891.969971

In [6]:
amzn_df_2020.shape

(253, 6)

In [7]:
amzn_df_2020.to_sql('amazon',
                    engine,
                    if_exists='replace')

In [8]:
query = '''
SELECT EXISTS (
   SELECT FROM information_schema.tables 
   WHERE  table_schema = 'public'
   AND    table_name   = 'amazon'
   );
'''
engine.execute(query).fetchone()

(True,)

In [9]:
query = '''
select count(*) from amazon;
'''
engine.execute(query).fetchone()

(253,)

In [10]:
amzn_df_2021 = web.get_data_yahoo('AMZN', 
                                start='2021-01-01', 
                                end='2021-06-01')

In [11]:
amzn_df_2021.to_sql('amazon',
                    engine,
                    if_exists='append')

In [12]:
amzn_df_2021.shape

(103, 6)

In [13]:
query = '''
select count(*) from amazon;
'''
engine.execute(query).fetchone()

(356,)

### Writing to MySQL

In [23]:
engine = create_engine("mysql+pymysql://root:password@localhost:3306/stocks")
amzn_df_2020.to_sql('amazon',
                    engine,
                    if_exists='replace')

query = '''
select count(*) from amazon;
'''
engine.execute(query).fetchone()

(253,)

In [24]:
amzn_df_2021.to_sql('amazon',
                    engine,
                    if_exists='append')

query = '''
select count(*) from amazon;
'''
engine.execute(query).fetchone()

(356,)

# Storing Data to MongoDB

In [25]:
import pandas as pd
from pymongo import MongoClient

In [26]:
client = MongoClient('mongodb://localhost:27017')

In [27]:
db = client['stocks']
collection = db['amazon']

In [28]:
amzn_df_2020

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,1898.010010,1864.150024,1875.000000,1898.010010,4029000,1898.010010
2020-01-03,1886.199951,1864.500000,1864.500000,1874.969971,3764400,1874.969971
2020-01-06,1903.689941,1860.000000,1860.000000,1902.880005,4061800,1902.880005
2020-01-07,1913.890015,1892.040039,1904.500000,1906.859985,4044900,1906.859985
2020-01-08,1911.000000,1886.439941,1898.040039,1891.969971,3508000,1891.969971
...,...,...,...,...,...,...
2020-12-24,3202.000000,3169.000000,3193.899902,3172.689941,1451900,3172.689941
2020-12-28,3304.000000,3172.689941,3194.000000,3283.959961,5686800,3283.959961
2020-12-29,3350.649902,3281.219971,3309.939941,3322.000000,4872900,3322.000000
2020-12-30,3342.100098,3282.469971,3341.000000,3285.850098,3209300,3285.850098
2020-12-31,3282.919922,3241.199951,3275.000000,3256.929932,2957200,3256.929932

In [41]:
amzn_records = amzn_df_2020.reset_index().to_dict(orient='records')

In [45]:
amzn_records[0:1]

[{'Date': Timestamp('2020-01-02 00:00:00'),
  'High': 1898.010009765625,
  'Low': 1864.1500244140625,
  'Open': 1875.0,
  'Close': 1898.010009765625,
  'Volume': 4029000,
  'Adj Close': 1898.010009765625}]

In [46]:
collection.insert_many(amzn_records)

In [47]:
client.list_database_names()

['admin', 'config', 'local', 'stock_data', 'stocks']

In [48]:
db.list_collection_names()

['amazon']

In [49]:
collection.find_one()

{'_id': ObjectId('615acf747433b519e9c34040'),
 'Date': datetime.datetime(2020, 1, 2, 0, 0),
 'High': 1898.010009765625,
 'Low': 1864.1500244140625,
 'Open': 1875.0,
 'Close': 1898.010009765625,
 'Volume': 4029000,
 'Adj Close': 1898.010009765625}

In [53]:
import datetime
collection.find_one({'Date': {'$gt': datetime.datetime(2020, 8,1)}})

{'_id': ObjectId('615acf747433b519e9c340d3'),
 'Date': datetime.datetime(2020, 8, 3, 0, 0),
 'High': 3184.0,
 'Low': 3104.0,
 'Open': 3180.510009765625,
 'Close': 3111.889892578125,
 'Volume': 5074700,
 'Adj Close': 3111.889892578125}